worker_processes 4;
worker_rlimit_nofile 40000;

events {
    worker_connections 8192;
}

stream {
    upstream servers_http {
        least_conn;

        {% for node in groups.worker %}
        server {{ node }}:443 max_fails=3 fail_timeout=5s;
        {% endfor %}

        # only for commercial nginx
        # server {{ srv_hostname }} service=_http._tcp resolve max_fails=3 fail_timeout=5s;
    }
    server {
        listen     80;
        proxy_pass servers_http;
    }

    upstream servers_https {
        least_conn;

        {% for node in groups.worker %}
        server {{ node }}:443 max_fails=3 fail_timeout=5s;
        {% endfor %}

        # only for commercial nginx
        # server {{ srv_hostname }} service=_http._tcp resolve max_fails=3 fail_timeout=5s;
    }
    server {
        listen     443;
        proxy_pass servers_https;
    }
}
